h1 {
  color: #0f2f7f;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.landing-page-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-100);
}

.outline-button-container {
  display: flex;
  position: relative;
}
.outline-button-button {
  background-color: #0f2f7f;
  color: white !important;
  border: none;
  height: 45px;
  width: 150px;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.places-line {
  width: 40px;
  border: solid #0f2f7f 2px;
}

.place-card-container {
  width: 27%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 15px;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.place-card-image {
  width: 85%;
  margin-top: 15px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}
.place-card-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.place-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.place-card-text1 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
@media (max-width: 1350px) {
  .place-card-container {
    width: 30%;
  }
}
@media (max-width: 900px) {
  .place-card-container {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .place-card-container {
    width: 100%;
  }

  .place-card-text1 {
    font-size: 14px;
  }
}

.landing\ page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
